#header {
    position: absolute;
    height: 48px;
    top: 0;
    left: 200px;
    right: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.branch {
    display: flex;
    /* line-height: 48px; */
    height: 48px;
    align-items: center;
}

.toggle-icon {
    margin-right: 10px;
    margin-left: -14px;
    background-image: url('../../img/Sprites.64af8f61.svg');
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
    background-position: -843px -30px;
}

.branch-name {
    font-weight: 600;
    max-width: 300px;
    font-size: 14px;
    color: #111111;
    text-overflow: ellipsis;
    transition: all .2s ease;
}

.left-down-arrow {
    background-position: -80px -360px;
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
    background-image: url('../../img/Sprites.64af8f61.svg');
    transform: rotate( 90deg);
    margin-left: 10px;
    margin-top: -4px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    line-height: 48px;
}

.icon-announce {
    padding-right: 34px;
    background-position: -788px -30px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    background-image: url('../../img/Sprites.64af8f61.svg');
}

.user-avatar {
    background-image: url('../../img/Sprites.64af8f61.svg');
    min-width: 32px;
    min-height: 32px;
    background-position: -352px -894px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.username {
    padding-left: 10px;
    font-weight: 600;
    max-width: 300px;
    font-size: 13px;
    color: #111111;
    text-overflow: ellipsis;
    transition: all .2s ease;
    padding-right: 10px;
}

.right-down-arrow {
    background-image: url('../../img/Sprites.64af8f61.svg');
    background-repeat: no-repeat;
    background-position: -1076px -32px;
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
    cursor: pointer;
    margin-right: 14px;
    margin-top: -4px;
}