.container {
    height: calc(100vh - 78px);
    margin: 20px 10px 10px 10px;
    /* background-color: forestgreen; */
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-name {
    font-weight: 600;
    font-size: 24px;
    color: #111;
}

.btn-add {
    border-radius: 4px;
    width: 150px;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    align-items: center;
    height: 32px;
    color: white;
    background-color: #2CA01C;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #43c432;
}

.content {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 70px;
    bottom: 10px;
    background-color: white;
}

.top-content {
    /* background-color: red; */
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    line-height: 32px;
    align-items: center;
}

.input-search {
    width: 240px;
}

.input {
    font-size: 13px;
    padding: 6px 10px;
    padding-right: 30px;
    outline: none;
    height: 32px;
    width: 240px;
    box-sizing: border-box;
    border: 1px solid #babec5;
}

.icon-search {
    background-image: url('../../img/Sprites.64af8f61.svg');
    background-position: -992px -360px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    position: absolute;
    top: 8px;
    right: 75px;
}

.refresh {
    background-image: url('../../img/Sprites.64af8f61.svg');
    background-position: -423px -201px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.refresh:hover{
    background-position: -1097px -88px;
}

.export {
    
    background-image: url('../../img/Sprites.64af8f61.svg');
    background-position: -704px -200px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
}
.export:hover{
    background-position: -704px -256px;
}

.grid-data {
    position: absolute;
    /* background-color: green; */
    left: 10px;
    right: 25px;
    overflow: auto;
    top: 60px;
    height: calc(100vh - 230px);
}

.btn-prev{
    font-size: 13px !important;
    margin-right: 5px !important;
}

.btn-next{
    font-size: 13px !important;
    margin-left: 5px !important;
}


.total-record {
    font-size: 13px;
}

.pagging {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(100vh - 170px);
    height: 40px;
    left: 10px;
    right: 25px;
    /* background-color: red; */
}

.right-pagging {
    display: flex;
    margin-top: 10px;
}

.select-record-number {
    /* margin-top: 15px; */
    margin-right: 10px;
}

.select-page {
    /* background-color: red; */
    right: 0;
    margin-top: 3px;
    height: 40px;
    /* width: 360px; */
}
.pagging-item{
    /* position: absolute; */
    /* top :20px;
    right: 0; */
}
.icon-loader {
    z-index: 10000;
    top: 50%;
    left: 50%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/loading.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    transform: rotate(45deg 16deg 16deg);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.option-department:hover {
    color: #2CA01C;
    background-color: #ECEEF1 !important;
}

.ant-select-dropdown-menu-item-selected {
    font-weight: 500 !important;
    color: white !important;
    background-color: #2CA01C !important;
}

.ant-select-dropdown-menu-item-selected:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #2CA01C !important;
    font-weight: 500 !important;
    color: white !important;
}

.ant-select-dropdown-menu-item-active {
    font-weight: 500 !important;
    color: #2CA01C !important;
    background-color: #ECEEF1 !important;
}

.ant-pagination-item-active {
    font-weight: 600 !important;
    border-color: #BBBBBB !important;
}

.ant-pagination-item-active a {
    color: #111 !important;
}
.ant-pagination-item{
    font-size: 13px;
    border-radius: 0 !important;
}

.ant-pagination-item a:hover{
    color: #111 !important;
}