.account-dialog-box {
    position: fixed;
    background-color: #000;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 41;
}

.account-dialog-content {
    z-index: 42;
    justify-content: center;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 800px;
    min-width: 800px;
    max-width: 800px;
    top: 0;
    right: 0;
    transition-duration: .3s
}

.is-full-screen {
    width: calc(100vw - 6px);
    min-width: calc(100vw - 6px);
    max-width: calc(100vw - 6px);
}

.account-resize {
    width: 12px;
    height: 50px;
    background: white;
    border: 1px solid #d4d7dc;
    border-radius: 8px;
    position: absolute;
    align-items: center;
    left: -6px;
    top: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.account-resize-icon {
    background-position: -35px -360px;
    width: 9px;
    height: 14px;
    background-repeat: no-repeat;
    background-image: url("../../img/Sprites.64af8f61.svg");
}

.rotate-resize {
    transform: rotateY(180deg);
}

.account-header-dialog-box {
    margin: 14px 16px 24px 16px;
    display: flex;
    /* background-color: red; */
}

.account-dialog-title {
    font-weight: 600;
    font-size: 24px;
}

.account-top-right-option {
    display: flex;
    justify-content: space-between;
    right: 12px;
    top: 12px;
    position: absolute;
    width: 54px;
    height: 24px;
    /* background-color: green; */
}

.account-btn-help {
    cursor: pointer;
    background-image: url("../../img/Sprites.64af8f61.svg");
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    background-position: -89px -144px;
    background-repeat: no-repeat;
}

.account-btn-close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    background-position: -144px -144px;
    background-repeat: no-repeat;
    background-image: url("../../img/Sprites.64af8f61.svg");
}

.account-footer-dialog-box {
    justify-content: space-between;
    display: flex;
    padding: 15px;
    height: 36px;
}

.account-right-bottom-button {
    display: flex;
}

.account-content-dialog-box {
    height: calc(100vh - 142px);
    padding: 0 16px 16px 16px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.account-divide {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #f4f5f8;
}

.account-basic-information {
    height: 55%;
    width: 100%;
}

.account-collapse-information {
    height: 45%;
    width: 100%;
}

.account-row-input-add-account {
    width: 100%;
    display: flex;
    padding-bottom: 12px;
}

.account-exception-accounting {
    display: flex;
    margin-top: 13px;
    width: 160px;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
}

.account-collapse-information .account-header-item {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.account-collapse-information .account-header-item:hover {
    color: #2CA01C;
    cursor: pointer;
}

.account-collapse-information .account-header-icon {
    transition-duration: .3s;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    background-position: -320px -360px;
    cursor: pointer;
    background-image: url("../../img/Sprites.64af8f61.svg");
}

.rotate-header-icon {
    transform: rotate(90deg);
}

.account-collapse-information .account-content {
    height: 100%;
    width: 100%;
    padding: 0 10px 10px;
    transition: all .2s ease-out;
}

.account-w-1div2-padding {
    width: 50%;
    padding-right: 9%;
    display: flex;
    align-items: center;
}

.account-w-1div2-none-padding {
    width: 50%;
    display: flex;
}

.account-content .account-title-checkbox {
    font-size: 13px;
    margin-left: 8px;
}