.dialog-box {
    position: fixed;
    background-color: #000;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
}

.dialog-content {
    z-index: 16;
    border-radius: 4px;
    justify-content: center;
    position: fixed;
    background-color: white;
    height: 660px;
    width: 900px;
    top: calc(50% - 330px);
    left: calc(50% - 450px);
}

.header-dialog-box {
    margin: 20px 0px 20px 30px;
    display: flex;
    /* background-color: red; */
}

.dialog-title {
    font-weight: 600;
    font-size: 25px;
}

.top-right-option {
    display: flex;
    justify-content: space-between;
    right: 12px;
    top: 12px;
    position: absolute;
    width: 54px;
    height: 24px;
    /* background-color: green; */
}

.btn-help {
    cursor: pointer;
    background-image: url("../../img/Sprites.64af8f61.svg");
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    background-position: -89px -144px;
    background-repeat: no-repeat;
}

.btn-close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    background-position: -144px -144px;
    background-repeat: no-repeat;
    background-image: url("../../img/Sprites.64af8f61.svg");
}

.content-dialog-box {
    margin: 0 30px;
    width: 840px;
    height: 460px;
    overflow: auto;
}

.base-info {
    width: 835px;
    height: 230px;
    display: flex;
    justify-content: space-between;
}

.left-base-info,
.right-base-info {
    width: 405px;
    height: 230px;
}

.tabs-info {
    height: 250px;
    width: 835px;
}

.tabs-option {
    width: 835px;
    height: 32px;
}

.tab-content {
    height: 217px;
    width: 835px;
    border: 1px solid #c9ccd2;
    padding: 1px;
}

.footer-dialog-box {
    justify-content: space-between;
    display: flex;
    margin: 25px 30px;
    height: 36px;
    margin-top: 35px;
    padding-top: 25px;
    border-top: 1px solid #e0e0e0;
}

.right-bottom-button {
    display: flex;
}


/* custom antd */


/* .option-page-size:hover {
    color: #2ca01c;
    background-color: #eceef1 !important;
}

.ant-input:focus {
    box-shadow: none !important;
    border: 1px solid #2ca01c !important;
}

.not-validation {
    border: 1px solid red !important;
}

input[title]:hover::after {
    content: attr(title);
    background-color: #111;
    color: white;
} */