.dialog-box {
    position: fixed;
    background-color: #000;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
}

.dialog-content {
    z-index: 16;
    border-radius: 4px;
    justify-content: center;
    position: fixed;
    background-color: white;
    height: 660px;
    width: 900px;
    top: calc(50% - 330px);
    left: calc(50% - 450px);
}

.header-dialog-box {
    margin: 20px 0px 20px 30px;
    display: flex;
    /* background-color: red; */
}

.dialog-title {
    font-weight: 600;
    font-size: 25px;
}

.top-right-option {
    display: flex;
    justify-content: space-between;
    right: 12px;
    top: 12px;
    position: absolute;
    width: 54px;
    height: 24px;
    /* background-color: green; */
}

.btn-help {
    cursor: pointer;
    background-image: url("../../img/Sprites.64af8f61.svg");
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    background-position: -89px -144px;
    background-repeat: no-repeat;
}

.btn-close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    background-position: -144px -144px;
    background-repeat: no-repeat;
    background-image: url("../../img/Sprites.64af8f61.svg");
}

.content-dialog-box {
    margin: 0 30px;
    width: 840px;
    height: 460px;
    overflow: auto;
}

.base-info {
    width: 835px;
    height: 230px;
    display: flex;
    justify-content: space-between;
}

.left-base-info,
.right-base-info {
    width: 405px;
    height: 230px;
}

.tabs-info {
    height: 250px;
    width: 835px;
}

.tabs-option {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    width: 835px;
    height: 32px;
}

.tab-content {
    height: 217px;
    width: 835px;
    border: 1px solid #c9ccd2;
    padding: 1px;
}

.footer-dialog-box {
    justify-content: space-between;
    display: flex;
    margin: 25px 30px;
    height: 36px;
    margin-top: 35px;
    padding-top: 25px;
    border-top: 1px solid #e0e0e0;
}

.right-bottom-button {
    display: flex;
}

.option-supplier-box {
    font-size: 13px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    width: 180px;
    justify-content: space-around;
}

.is-customer {
    margin-left: 150px;
    align-items: center;
    display: flex;
    width: 120px;
    font-size: 13px;
    justify-content: space-between;
}

.row-input {
    min-height: 70px;
    width: 405px;
    /* background-color: red; */
    padding-bottom: 12px;
}

.tab-option {
    height: 25px;
    font-size: 13px;
    margin: 0 1px;
    border: 1px solid #c9ccd2;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    padding: 0 8px 0 8px;
    display: flex;
    align-items: center;
}

.tab-option:hover {
    cursor: pointer;
    color: #2ca01c;
}

.tab-selected {
    height: 31px;
    background-color: #cce4f9;
}

.note-tab {
    height: 215px;
    width: 833px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
}

.other-address-tab {
    display: flex;
    text-align: left;
}

.location {
    height: 100px;
    width: 425px;
    padding-right: 24px;
    padding-left: 8px;
    margin-top: 8px;
}

.delivery-address {
    width: 406px;
    margin-top: 8px;
}

.label-input {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 0px;
    color: #111;
}

.location-line {
    display: flex;
    justify-content: space-between;
}

.delivery-address-title {
    width: 98%;
    display: flex;
    border-bottom: 2px solid #d3d6db;
    padding-bottom: 1px;
}

.cover-checkbox-delivery {
    margin-left: 20px;
    align-items: center;
    display: flex;
    width: 190px;
    font-size: 13px;
    justify-content: space-between;
    margin-top: -6px;
}

.delivery-address-footer {
    display: flex;
}

.btn-tabs-options {
    background: #fff;
    border: 1px solid #8d9096;
    border-radius: 3px !important;
    padding: 2px 20px !important;
    margin-right: 10px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    margin-top: 8px;
}

.delivery-address-content {
    max-height: 150px;
    width: 405px;
    overflow: auto;
}

.delivery-address-line {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 98%;
    height: 40px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #d3d6db;
}

.delivery-address-line:hover {
    background-color: #f3f8f8;
}

.delivery-input {
    height: 100%;
    width: 350px;
    border-right: 1px dotted #d3d6db;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon-box {
    height: 100%;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    background-position: -464px -312px;
    cursor: pointer;
    background-image: url("../../img/Sprites.64af8f61.svg");
}

.bank-account {
    height: 200px;
    width: 810px;
    margin-top: 12px;
    margin-left: 10px;
}

.table-bank-account-box thead th {
    background-color: #eceef1;
    height: 34px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    border-left: 1px solid #c7c7c7;
    border-bottom: 2px solid #c7c7c7;
}

.table-bank-account-box tbody td {
    background-color: #f4f5f8 !important;
    height: 40px;
    border-bottom: 1px solid #c7c7c7 !important;
    border-right: 1px dotted #c7c7c7 !important;
}

.table-bank-account-box tbody td:last-child {
    border-right: none !important;
    padding-left: 12px;
}

.table-bank-account-box {
    max-height: 158px;
    overflow: auto;
}

.term-payment {
    padding: 8px;
}

.term-payment-line1 {
    display: flex;
    width: 590px;
    justify-content: space-between;
}

.term-payment-line2 {
    margin-top: 8px;
    display: flex;
    width: 390px;
    justify-content: space-between;
}

.contact {
    padding: 8px;
    display: flex;
}

.organization,
.personal {
    display: flex;
}

.left-contact {
    width: 420px;
    padding-right: 24px;
}

.right-contact {
    width: 398px;
}

.left-contact-organization {
    width: 420px;
    padding-right: 24px;
    /* display: flex; */
}

.right-contact-organization {
    width: 398px;
    /* display: flex; */
}

.payment-table {
    position: relative;
    display: block;
}