.ant-select-dropdown-menu-item-selected {
    /* font-weight: 500 !important; */
    color: white !important;
    background-color: #2CA01C !important;
}

.ant-select-dropdown-menu-item-selected:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #2CA01C !important;
    /* font-weight: 500 !important; */
    color: white !important;
}

.ant-select-dropdown-menu-item-active {
    /* font-weight: 500 !important; */
    color: #2CA01C !important;
    background-color: #ECEEF1 !important;
}

.ant-select-dropdown-menu-item {
    display: flex !important;
    color: #111111;
}

.ant-select-selection {
    color: #111111 !important;
    font-size: 13px !important;
    border: 1px solid #babec5 !important;
    border-radius: 2px !important;
}

.ant-select-open .ant-select-selection {
    box-shadow: none !important;
    border: 1px solid #2ca01c !important;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
    box-shadow: none !important;
    border: 1px solid #2ca01c !important;
}

.ant-select-selection--single {
    cursor: text !important;
}


/* .ant-select-dropdown-menu-item-group-title {
    background-color: #F4F5F8;
} */

.ant-select-dropdown-menu-item-disabled {
    cursor: default !important;
    color: #212121 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    width: 100%;
    height: 100%;
    background-color: #F4F5F8;
}

.ant-select-selection--single .ant-select-selection__rendered {
    margin-right: 64px !important;
}