.ant-select-dropdown--single .ant-select-dropdown-menu-item-selected {
    font-weight: 400 !important;
    color: white !important;
    background-color: #2CA01C !important;
}

.ant-select-dropdown--single .ant-select-dropdown-menu-item-selected:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #2CA01C !important;
    /* font-weight: 500 !important; */
    color: white !important;
}


/* .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #ECEEF1 !important;
} */

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-selected) {
    /* font-weight: 500 !important; */
    color: #2CA01C !important;
    background-color: #ECEEF1 !important;
}

.ant-select-dropdown-menu-item {
    display: flex !important;
}

.ant-select-selection {
    color: #111111 !important;
    font-size: 13px !important;
    border: 1px solid #babec5 !important;
    border-radius: 2px !important;
}

.ant-select-open .ant-select-selection {
    box-shadow: none !important;
    border: 1px solid #2ca01c !important;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
    box-shadow: none !important;
    border: 1px solid #2ca01c !important;
}

.ant-select-selection--single {
    cursor: text !important;
}


/* .ant-select-dropdown-menu-item-group-title {
    background-color: #F4F5F8;
} */

.ant-select-dropdown-menu-item-disabled {
    cursor: default !important;
    color: #111111 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    width: 100%;
    height: 100%;
    background-color: #F4F5F8;
}

.ant-select-selection--single .ant-select-selection__rendered {
    margin-right: 50px !important;
}

.ant-select-selection--multiple .ant-select-selection__rendered {
    height: auto;
    margin-bottom: -3px;
    margin-left: 5px;
    margin-right: 64px;
}

.ant-select-dropdown-menu-item {
    color: #111111 !important;
    font-family: notosans-regular !important;
    font-size: 13px !important;
}

.ant-select-dropdown-menu-item:not(.ant-select-dropdown-menu-item-disabled) {
    font-weight: 400 !important;
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #EBEDF0 !important;
}

.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #EBEDF0 !important;
}

.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-selected) .ant-select-selected-icon {
    color: transparent !important;
}

.ant-select-dropdown-menu-item-selected .ant-select-selected-icon {
    color: #2CA01C !important;
}

.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
    font-size: 12px;
    font-style: italic;
}