/* EmployeeList */

.btn-add {
    border-radius: 4px;
    width: 150px;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    align-items: center;
    height: 32px;
    color: white;
    background-color: #2CA01C;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #43c432;
}


/* InfoDialog */

.white-button {
    width: 67px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    align-items: center;
    height: 36px;
    color: #111;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    border: 0.5px solid #8a8484;
    border-radius: 4px;
}

.white-button:hover {
    background-color: #e5e5e5;
}

.green-button {
    width: 120px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    align-items: center;
    height: 36px;
    color: white;
    background-color: #2CA01C;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    margin-left: 20px;
}

.green-button:hover {
    background-color: #43c432;
}


/* AlertDialog */

.dialog-notify-content .btn-accept {
    position: absolute;
    margin-top: 10px;
    border-radius: 4px;
    width: 80px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    align-items: center;
    height: 36px;
    color: white;
    background-color: #2ca01c;
    cursor: pointer;
    font-weight: 600;
    margin-left: 68%;
}

.dialog-notify-content .btn-close-alert {
    position: absolute;
    margin-top: 10px;
    border-radius: 4px;
    width: 80px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    align-items: center;
    height: 36px;
    color: white;
    background-color: #2ca01c;
    cursor: pointer;
    font-weight: 600;
    margin-left: 34%;
}

.dialog-notify-content .btn-yes {
    position: absolute;
    margin-top: 10px;
    border-radius: 4px;
    width: 60px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    align-items: center;
    height: 36px;
    color: white;
    background-color: #2ca01c;
    cursor: pointer;
    font-weight: 600;
    margin-left: 73%;
}

.dialog-notify-content .btn-no {
    position: absolute;
    margin-top: 10px;
    border-radius: 4px;
    width: 80px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    align-items: center;
    height: 36px;
    color: #111;
    background-color: transparent;
    border: 1px solid #8d9096;
    cursor: pointer;
    font-weight: 600;
    margin-left: 0%;
}

.dialog-notify-content .btn-cancel {
    position: absolute;
    margin-top: 10px;
    border-radius: 4px;
    width: 80px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    align-items: center;
    height: 36px;
    color: #111;
    background-color: transparent;
    border: 1px solid #8d9096;
    cursor: pointer;
    font-weight: 600;
    margin-left: 0%;
}

.dialog-notify-content .btn-no-2 {
    position: absolute;
    margin-top: 10px;
    border-radius: 4px;
    width: 80px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    align-items: center;
    height: 36px;
    color: #111;
    background-color: transparent;
    border: 1px solid #8d9096;
    cursor: pointer;
    font-weight: 600;
    margin-left: 53%;
}

.btn-white:hover {
    background-color: #d2d3d6;
}

.btn-green:hover {
    background-color: #35bf22;
}