.ant-radio-inner::after {
    background-color: #2CA01C !important;
}

.ant-radio-checked .ant-radio-inner {
    border-color: #2CA01C !important;
}

.ant-radio:hover .ant-radio-inner {
    border-color: #2CA01C !important;
}