.ant-radio-inner::after {
    background-color: #2CA01C !important;
}

.ant-radio-checked .ant-radio-inner {
    border-color: #2CA01C !important;
}

.ant-radio:hover .ant-radio-inner {
    border-color: #2CA01C !important;
}

input[type="radio"] {
    width: 18px;
    height: 18px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: white;
    border: 1px solid #afafaf;
    display: flex;
    cursor: pointer;
}

input[type="radio"]:hover {
    border: 1px solid #2ca01c;
}

input:checked[type="radio"] {
    border: 1px solid #2ca01c;
}

input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    position: relative;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background: #2ca01c;
    display: none;
}

input:checked[type="radio"]::before {
    display: block;
}