.cover-table-supplier table {
    border-collapse: separate;
    position: relative;
    border-spacing: 0;
}

.cover-table-supplier table thead tr {
    align-items: center;
    height: 32px;
    background-color: #ECEEF1;
}

.cover-table-supplier table thead th {
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid #c7c7c7;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    background-color: #ECEEF1;
    z-index: 10;
    box-sizing: border-box;
}

.cover-table-supplier table tbody td {
    font-size: 13px;
    background-color: white;
    align-items: center;
    border-right: 1px dotted #c7c7c7;
    text-align: left;
    border-bottom: 1px solid #c7c7c7;
}

.cover-table-supplier td:not(td:first-child, td:last-child),
th:not(th:last-child, th:first-child) {
    padding-left: 10px;
}

.cover-table-supplier th:first-child,
td:first-child {
    position: sticky;
    left: 0;
    min-width: 15px;
    background-color: white !important;
    border: none !important;
    z-index: 20 !important;
    /* background-color: white; */
}

.cover-table-supplier .th-td-first {
    min-width: 40px;
    padding-left: 0 !important;
    position: sticky;
    left: 15px;
}

.cover-table-supplier .th-first {
    z-index: 11 !important;
}

.cover-table-supplier th:last-child,
td:last-child {
    position: sticky;
    right: 0;
    min-width: 30px;
    background-color: #F4F5F6 !important;
    border: none !important;
    z-index: 20 !important;
}

.cover-table-supplier .th-td-last {
    min-width: 150px;
    position: sticky;
    right: 50px;
    padding-left: 0 !important;
    border-right: none !important;
    border-left: 1px dotted #c7c7c7;
}

.cover-table-supplier .th-td-white {
    min-width: 20px;
    padding-left: 0 !important;
    position: sticky;
    right: 30px;
    z-index: 20 !important;
    background-color: white;
    border: none !important;
}

.cover-table-supplier thead th {
    border-right: 1px solid #c7c7c7;
}

.cover-table-supplier td:last-child,
th:last-child {
    border-right: none !important;
}

.cover-table-supplier table tr {
    border-bottom: 1px solid #c7c7c7;
    height: 48px;
}

.cover-table-supplier .cover-first-last {
    display: flex;
    justify-content: center;
}

.cover-first-last .view-option {
    cursor: pointer;
    color: #0075C0;
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
}

.drop-down-icon {
    background-image: url('../../img/Sprites.64af8f61.svg');
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: -896px -360px;
}

.active {
    outline: 1px solid #0075c0;
}

.cover-option {
    border-radius: 0% !important;
    border: 1px solid #c7c7c7 !important;
}

.option {
    color: #111111 !important;
}

.option:hover {
    color: #2CA01C !important;
    background-color: #F4F5F6;
}

.display-date {
    display: flex;
    justify-content: center;
}

.display-money {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

tr .total-money {
    background-color: #F8F9FE !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-top: 2px solid #c7c7c7;
    height: 32px !important;
}

.tr-total-money {
    position: sticky;
    bottom: 46px;
}